body {
  margin: 0px 140px 0px 140px;
}

h1 {
  font-family: Times, serif;
  font-size: 36px;
  color: blue;
  text-align: center;
}

h2 {
  font-family: Times, serif;
  font-size: 24px;
  color: red;
  text-align: center;
}

/*
div { 
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid silver;
}

div img {
  width: 200px;
  height: 200px;
  display: none;
}
*/
.mosaicflow__column {
  float:left;
}

.mosaicflow__item img {
  display:block;
  width:100%;
  height:auto;
}

.mosaicflow__item p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 5px;
  background: hsla(0,0%,0%,.5);
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px 1px hsla(0,0%,0%,.75);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
  -o-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
  transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
}

.mosaicflow__item:hover p {
    opacity:1;
    }