body {
  display: block;
  margin: 0px 140px 0px 140px;
}

h1 {
  font-family: 'Diplomata SC', cursive;
  font-size: 48px;
  color: #990000;
  text-align: center;
}

h2 {
  font-family: 'Spirax', cursive;
  font-size: 36px;
  color: solid black;
  text-align: center;
}

h3 {
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 18px;
  color: black;
  text-align: center;
  vertical-align: middle;
}

/*
div { 
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid silver;
}

div img {
  width: 200px;
  height: 200px;
  display: none;
}
*/